*{ 
  list-style: none;
  padding: 0;
  margin: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding: 1rem;
  border-bottom:solid #007BFF;
}
main{
  height: 70vh;
}
footer{
  height: 100%;
  display: flex;
  height: 10vh;
  align-items: center;
  z-index: 1;
  padding-inline: 2rem;
}
#logo{
  width: 10rem;
  height: 5rem;
}
#logo button{
  display: none;
}
ul{
  display: flex;
  gap: 1rem;
}
#header-perfil{
  display: none;
}
.button-none{
  display: none;
  width: 100%;
  height: 100%;
  
}
.block{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border: solid #027EF6 5px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #007BFF;
  font-style: normal;
  font-size: 1.2rem;
}
#dados-principal{
  margin: 2rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: 100%;
}

#dados-perfil{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #007BFF;
  font-style: normal;
  font-size: 2rem;
  border-radius: 40px;
  border: solid #027EF6 20px;
  display: flex;
  padding: 2rem;
  gap: 10rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* sombra externa */
}
.dados-usuario{
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  color: black;
  font-style: normal;
}
#dados-foto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
#foto-perfil{
  width: 15rem;
  height: 15rem;
}
label{
  cursor: pointer;
}
#button-edit{
  background-color: #339CFF;
  color: white;
  border: 2px solid #007BFF;
  padding: 10px 25px;
  border-radius: 999px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}

/*////////////////////////////////////////////////////////////////////////////////////*/

#card-evento{
  border: #007BFF solid 10px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: black;
  font-style: normal;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* sombra externa */
}
#card-evento img{
  width: 100%;
  height: 10rem;
}
#card-evento p{
  padding: 0.2rem;
}
#card-evento h1{
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #007BFF;
  font-style: normal;
  font-size: 3rem;
  width: 100%;
  background-color: #007BFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.delete {
  background-color: #e74c3c; /* vermelho */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.delete:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.delete {
  background-color: #a93226;
  transform: scale(0.98);
}
/*/////////////////////////////////////////*/

#dados-perfil input{
  width: 500px;
  height: 60px;
  padding: 0 20px;
  font-size: 18px;
  border: none;
  border-radius: 60px;
  background-color: #f0f8ff; /* Azul muito claro */
  box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}
#button-salvar{
  background-color: #339CFF;
  color: white;
  border: 2px solid #007BFF;
  padding: 10px 25px;
  border-radius: 999px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}